# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv
env
ENV
.venv
.VENV

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env
.venv

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

# Docker
*.env
docker-compose.yml

# MacOS
.DS_Store

# Windows
Thumbs.db
